<div class="banner_index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('https://images.pexels.com/photos/5905716/pexels-photo-5905716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') %>);">
  <div class="w-50">
    <h1><strong>Created Lecture</strong></h1>
    <%= link_to "Create Your Lecture", new_lecture_path, class: "btn btn-primary mt-3" %>
  </div>
</div>

<div class="d-flex justify-content-between my-3 mx-3">
  <div class="row">
    <% @lectures.each do |lecture|%>
      <div class= "col-4 mb-4">
        <div class="card-product pl-4 mx-1">
        <% if lecture.photo.attached? %>
          <%= cl_image_tag(lecture.photo.key) %>
        <% else %>
          <img src="https://images.pexels.com/photos/1655304/pexels-photo-1655304.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <% end %>
          <div class="card-product-infos">
            <h2><%= "#{lecture.title}: #{lecture.description}" %></h2>
            <%= link_to "Discover our course", lecture_path(lecture), class: "btn btn-ghost mt-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
