<div class="banner_index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('show-lecture.jpg') %>);">
  <div class="w-40">
  </div>
</div>


<div class="container my-5">
  <div class="row justify-content-center">
    <div class="box-description col-8">
      <h1><strong><%= @lecture.title %></strong></h1>
      <h3> <%= @lecture.description %></h3>
      <h4> <%= @lecture.price %></h4>
      <h5> <%= @lecture.youtube_url %></h5>
      <div class="links">
        <div class="d-flex justify-content-between">
          <%= link_to 'Back', lectures_path %>
          <%= link_to 'Edit', @lecture %>
          <%= link_to 'Delete', @lecture %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card-trip-small">
        <img src="https://images.pexels.com/photos/7859276/pexels-photo-7859276.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <div class="card-product-infos d-flex justify-content-center align-items-center">
          <%= link_to 'Buy', new_lecture_order_path(@lecture), class: "btn btn-primary my-3"%>
        </div>
      </div>
    </div>
  </div>
</div>
