<div class="container col-10 mb-3px">
  <h1><strong><%= @lecture.title %></strong></h1>
  <h2> <%= @lecture.description %></h2>
  <h3> <%= @lecture.price %></h3>
  <p> <%= @lecture.youtube_url %></p>
  <%= link_to 'Back', lectures_path, class: "btn btn-secondary"%>
  <% if @lecture.user == current_user %>
    <%= link_to 'Edit', edit_lecture_path(@lecture), class: "btn btn-success" %>
    <%= link_to 'Delete', lecture_path(@lecture), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-warning" %> <%#@restaurant vindo do controller  %>
  <% else %>
    <%= link_to 'Buy', new_lecture_order_path(@lecture), class: "btn btn-secondary"%>
  <% end %>
</div>
