<div class="banner_index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('show-lecture.jpg') %>);">
  <div class="w-40">
  </div>
</div>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="box-description col-8">
      <h1><strong><%= @lecture.title %></strong>
        <% if @lecture.user == current_user %>
          <%= link_to edit_lecture_path(@lecture) do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to lecture_path(@lecture), method: :delete, data: { confirm: "Are you sure?"} do %>
          <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </h1>
      <h4> <%= @lecture.description %></h4>
      <h4> <%= @lecture.price %></h4>
      <div class="d-flex align-items-end justify-content-between links">
        <%= link_to lectures_path do %>
          <i class="fas fa-angle-double-left"></i>
        <% end %>
        <% if @lecture.user != current_user %>
          <%= link_to 'Buy', new_lecture_order_path(@lecture), class: "btn btn-primary my-3"%>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="card-trip-small">
        <% if @lecture.photo.key %>
          <%= cl_image_tag @lecture.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <img src="https://images.pexels.com/photos/7859276/pexels-photo-7859276.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <% end %>
      </div>
    </div>
  </div>
</div>
