<div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
  <h3> Your Order </h3>
  <div class="container">
    <div class="row py-3 d-flex flex-column justify-content-center align-items-center">
      <div class="col-8">
        <div class="card-product-order">
          <% if @order.lecture.photo.attached? %>
            <%= cl_image_tag(@order.lecture.photo.key) %>
          <% else %>
            <%= image_tag('10.jpg')%>
          <% end %>
          <div class="card-product-infos d-flex flex-column justify-content-center align-items-center my-2">
            <h3><strong>Congratulation ! </strong></h3>
            <h4><strong>You Can Watch Your Video </strong></h4>
            <h4><%= @order.lecture.title %></h4>
            <h5><%= @order.lecture.description %></h5>
            <h6>R$<%= @order.lecture.price %></h6>
            <h6 class="links"><%= link_to "Watch Your Video ", @order.lecture.youtube_url, target: :_blank %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "Back", lectures_path, class: "btn btn-secondary my-5" %>
</div>
